<%- include('./templates/head')%>
<!--
/admin/services/new
-->
<main>
    <h1>
       NUEVO SERVICIO
    </h1>
    <section>
        <form action="/admin/services/create" method="post">
            <input type="text" id="service" name="service" placeholder="service name">
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description of the service..."></textarea>
            <input type="submit" value="Add service">
        </form>
    </section>
</main>



<%- include('./templates/footer')%>