<%- include('./templates/head'); %>

<main>
    <div class="jumbotron">
        <h1>This is not great</h1>
        <p>ERROR 404 NOT FOUND</p>
    </div>
</main>

    <%- include('./templates/footer'); %>
