
    <%- include('./templates/head'); %>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to CONTACT</p>
    </div>
</main>

    <%- include('./templates/footer'); %>