<%- include('./templates/head'); %>
    <main>
        <div class="jumbotron">
            <h1>Welcome to HOME</h1>
        </div>
        <div>
            <h2>pintando el titulo y mensaje del index</h2>
            <p>
                <%= cont.title %>
            </p>
            <p>
                <%= cont.msg %>
            </p>
        </div>
    </main>
    <%- include('./templates/footer'); %>