<%- include('./templates/head'); %>
<main>
<div class="jumbotron">
<h1><%=title%></h1>
<h2>Solo para administradorxs</h2>
</div>
<div class="form-container">
    <form action="" method="post">
        <h3>Log in here</h3>
        <input type="text" id="user" name="user" placeholder="Introduce tu nombre de usuario">
        <input type="password" id="pass" name="pass" placeholder="************">
        <input type="submit" value="Log in">
    </form>
</div>
</main>

<%- include('./templates/footer'); %>