<div class="grid-container">
<a class="navbar-brand" href="/">Volver al home</a>
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logIn">Log in</a>
  </li>
</ul>
</div>